html {
  min-height: 100vh;
}
body {
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
}
/* Catalog */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

/* Book tile */
.book-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1em;
  border-radius: 15px;
}
.book-cover {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empty-book-cover {
  width: 128px;
  height: 192px;
  text-align: center;
  color: #777;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

/* Skeleton cover */
.skeleton-cover {
  width: 128px;
  height: 192px;
  background-color: #9dafdb;
  border-radius: 5px;
  margin-bottom: 0.5em;
  position: relative;
  overflow: hidden;

  .skeleton-cover-overly {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2)
    );
    animation: rightToLeftAnimation 1.5s infinite linear;
  }
}

@keyframes rightToLeftAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Loader */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */
.cart {
  position: fixed;
  bottom: 2em;
  right: 2em;

  .cart-button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fffd9c;
    border: 1px solid #9dafdb;
    font-size: 2em;
    padding: 0;
  }
  .cart-bubble {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: red;
    color: white;
    width: 1.75em;
    height: 1.75em;
    font-size: 0.75em;
    text-align: center;
    border-radius: 50px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding: 0.5em;
  list-style: none;
  gap: 1em;
}

.previous-page,
.next-page {
  padding: 0.5em 1em;
  color: #333;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.previous-page.disabled,
.next-page.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.page-numbers {
  display: flex;
  margin: 0 1em;
  gap: 1em;
}

.page-numbers {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 0.25em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page-numbers active {
  background-color: #eee;
}

.page-numbers li a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
  }
  .previous-page,
  .next-page {
    width: 100%;
  }
  .page-numbers {
    flex-wrap: wrap;
  }
}
