.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.book-cover {
  border: 1px solid #ccc; /* Border to resemble a book cover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.empty-book-cover {
  width: 128px;
  height: 192px;
  text-align: center;
  color: #777;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding: 0.5em;
  list-style: none;
  gap: 1em;
}

.previous-page,
.next-page {
  padding: 0.5em 1em;
  color: #333;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.previous-page.disabled,
.next-page.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.page-numbers {
  display: flex;
  margin: 0 1em;
  gap: 1em;
}

.page-numbers {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 0.25em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page-numbers active {
  background-color: #eee;
}

.page-numbers li a {
  color: #333;
  text-decoration: none;
}

/* For responsive adjustments, you can add media queries here */

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
  }
  .previous-page,
  .next-page {
    width: 100%;
  }
  .page-numbers {
    flex-wrap: wrap;
  }
}

/* @media (min-width: 600px) {
  .tiles-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); 
  }
}

@media (min-width: 900px) {
  .tiles-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(350px, 1fr)
    ); 
  }
}

@media (min-width: 1200px) {
  .tiles-container {
    grid-template-columns: repeat(5, 1fr); 
  }
} */
